<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="accessories" label="Accessories">
   <item label="Leafpad">
      <action name="Execute"><command>leafpad</command></action>
   </item>
   <item label="GVim">
      <action name="Execute"><command>gvim</command></action>
   </item>
	<item label="Calculator">
		<action name="Execute"><command>galculator</command></action>
	</item>
	<item label="Homebank">
		<action name="Execute"><command>homebank</command></action>
	</item>
	<item label="Libreoffice">
		<action name="Execute"><command>libreoffice</command></action>
	</item>
</menu>

<menu id="multimedia" label="Multimedia">
   <item label="Audacious">
      <action name="Execute"><command>audacious</command></action>
   </item>
	<item label="Viewnior">
		<action name="Execute"><command>viewnior</command></action>
	</item>
   <item label="Gimp">
      <action name="Execute"><command>gimp</command></action>
   </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Synaptic">
    <action name="Execute"><execute>gksu synaptic</execute></action>
  </item>
  <item label="Lxappearance">
    <action name="Execute"><execute>lxappearance</execute></action>
  </item>
  <item label="PulseAudio Prefs">
    <action name="Execute"><execute>paprefs</execute></action>
  </item>
  <item label="Pavucontrol">
    <action name="Execute"><execute>pavucontrol</execute></action>
  </item>
  <separator />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
	  <action name="Execute"><execute>urxvt</execute></action>
  </item>
  <item label="Web browser">
    <action name="Execute"><execute>google-chrome-stable</execute></action>
  </item>
  <item label="Thunar">
   <action name="Execute"><execute>thunar</execute></action>
  </item>
  <!-- This requires the presence of the 'menu' package to work -->
  <separator />
  <menu id="accessories" />
  <menu id="multimedia" />
  <menu id="system-menu" />
  <item label="Run...">
   <action name="Execute"><execute>gmrun</execute></action>
  </item>
  <separator />
  <item label="Suspend">
     <action name="Execute"><execute>systemctl suspend</execute></action>
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
