notebook header {
   border: none; 
   background-color: #EEEEEE;
}

notebook tab {
   border-bottom: 1px solid #AAA;
   min-height: 30px;
   padding-top: 2px;
   padding-bottom: 2px;
   background-color: #EEEEEE;
}

notebook tab:checked {
   box-shadow: inset 0 -3px #325F9B, -1px 0 2px #AAA, 1px 0 2px #AAA;
   background-color: #FCFCFC;
}

notebook tab:hover {
   box-shadow: inset 0 -3px #325F9B, -1px 0 2px #AAA, 1px 0 2px #AAA;
}

notebook tab button {
   padding: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}

notebook button {
   padding: 0px;
}
